<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/61e1acad-92a6-4e9b-bafc-6798dffc02f2/resourceGroups/rg-prosjekt3000/providers/Microsoft.Web/sites/prosjekt3000</ResourceId>
    <ResourceGroup>rg-prosjekt3000</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://prosjekt3000.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a5dfc03e-36f9-4430-bea9-161c70e01547</ProjectGuid>
    <PublishUrl>https://prosjekt3000.scm.azurewebsites.net/</PublishUrl>
    <UserName>$prosjekt3000</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>